CLAUDE.md
.cursor/**
.github/**
.vscode/**
.vscode-test/**
.vscode-test-web/**
.scannerwork/**
coverage/**
src/**
test/**
testdoc/**
.editorconfig
.eslintrc*
.env
.env.*
.gitignore
.npmrc
.prettierignore
.prettierrc*
eslint.config.*
esbuild.mjs
sonar-project.properties
tsconfig.json
vitest.config.ts
**/*.map
**/*.ts
